/* public/css/index.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@300;400&display=swap');
* {
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}

#title {
    color: white;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 64px;
}

#directory {
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
